services:
  php-cli:
    tty: true
    stdin_open: true
    build:
      context: .
    volumes:
      - ./:/app
    environment:
      PUID: 1000

  redis:
    image: redis:8.4.0-alpine3.22
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'redis-data:/data'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      retries: 3
      timeout: 5s

volumes:
  redis-data:
    driver: local